<h1>Add a new environment for this project!</h1>

"The project is:
<%= @project %>

<%= render 'form', environment: @environment %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>